@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
    background-image: url(./images/brick-wall-gbeb77fa68_1920.jpg);
}

.link,.logo,h1 {
    filter: drop-shadow(0px 28px 9px rgb(0,0,0,0.3))
}

.header {
    display: flex;
    align-items: center;
    width: 542px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    font-family: "Raleway",Arial,sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Raleway";
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
    color: white;    
}

.logo {
    height: 250px; 
}

.link-logo {
    width: 265px;height: 217px;
    display: block;margin-left: auto;margin-right: auto;
}

h1 {
    font-family: "Raleway",Arial,sans-serif;
    letter-spacing: .02em;
    font-weight: 800;
    color: #fff;
    font-size: 100px;
    width: 383px;
    margin-left: auto;
    margin-right: auto;
    line-height: 85px;
}

.link:hover {
    color: #c4c4c4;  
}

.logo:hover {
    filter: invert(62%) sepia(85%) saturate(1%) hue-rotate(314deg) brightness(200%) contrast(92%);
}

.body {
    display: flex;
}

.background {
    width: 692px;
    height: 622px;
    background-color: rgb(0,0,0,0.6);
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(4px);
    border-radius: 18px;
}

.article {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
}

.article > img {
    height: 159px;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 23px;
}

h2 {
    font-family: "Raleway",Arial,sans-serif;
    letter-spacing: .02em;
    font-weight: 800;
    color: #fff;
    font-size: 24px;
    width: 255px;
    margin-left: 55px;
    line-height: 85px;
}

h3 {
    font-family: "Raleway",Arial,sans-serif;
    letter-spacing: .02em;
    font-weight: 800;
    color: #fff;
    font-size: 24px;
    width: 80px;
    margin-left: 55px;
    line-height: 85px;
}